<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AeroGL.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>

	<connectionStrings>
		<add name="AeroGL" connectionString="Data Source=|DataDirectory|\aerogl.db;Version=3;Foreign Keys=True" providerName="System.Data.SQLite"/>
	</connectionStrings>
 <userSettings>
  <AeroGL.Properties.Settings>
   <setting name="UtilityPassword" serializeAs="String">
    <value />
   </setting>
   <setting name="SingleProjectCode" serializeAs="String">
    <value />
   </setting>
   <setting name="SingleProjectName" serializeAs="String">
    <value />
   </setting>
   <setting name="SingleProjectPass" serializeAs="String">
    <value />
   </setting>
  </AeroGL.Properties.Settings>
 </userSettings>
</configuration>